<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TAAnalytics-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TAAnalytics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OverbaseAnalytics</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OverbaseAnalyticsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TAAnalytics</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>TAAnalyticsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
